@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Rubik+Glitch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
:root {
  --background: #d1d1d1;
  --text: #000;
  --box-color1: #e0e0e0;
  --box-color2: #bcbcbc;
  --box-color3: #a7a7a7;
  --box-color4: #fbfbfb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dark {
  --background: #000;
  --text: #fff;
  --box-color1: #181818;
  --box-color2: #1a1a1a;
  --box-color3: #1d1d1d;
  --box-color4: #0f0f0f;
}
.toggle-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  cursor: pointer;
  display: flex;
  transition: all 300ms ease;
}
.moon {
  font-size: 2rem;
  margin: auto;
}
body {
  background: var(--background);
  color: var(--text);
  transition: all 300ms ease;
}

h1 {
  width: 100%;
  height: 70px;
  margin: 2em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
  font-family: "Kalam", cursive;
  text-align: center;
}

.container {
  width: 40%;
  max-width: 400px;
  min-width: 300px;
  height: 400px;
  margin: 0 auto;
  margin-top: 5em;
  border-radius: 3em;
  color: var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background: linear-gradient(315deg, var(--box-color1), var(--box-color2));
  box-shadow: -30px -30px 60px var(--box-color3),
    30px 30px 60px var(--box-color4);
}
.px__font__to__em {
  display: flex;
  align-items: flex-end;
}
input {
  color: var(--text);
  width: 1.625em;
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  margin: 0.3em 0.3em 0 0.3em;
  text-align: center;
  font-weight: 600;
  border-bottom: 2px solid var(--text);
  outline: none;
}
input::placeholder {
  font-size: 0.6em;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
#copybtn {
  background-color: transparent;
  color: var(--text);
  margin-top: 1.5em;
  padding: 1em 0;
  width: 40%;
  cursor: pointer;
  border: 2px solid var(--text);
  border-radius: 1.9em;
  font-weight: 600;
  text-transform: uppercase;
  transition: background-color 300ms ease-in-out;
}
#changePx {
  width: 2em;
  padding: 0;
  margin-bottom: 1em;
}
